@import '../common/css/base.css';
@import '../common/css/common.css';

:root {
  --btn-color: bisque;
  --body-bg-color: #ff0;
  --my-padding: 5px 10px;
  --line-color: #e5e5e5;
  --txt-main-color: red;
}

body {
  background-color: var(--body-bg-color);
}
input {
  border: 1px solid var(--line-color);
  background-color: #fff;
  padding: var(--my-padding);
}
button {
  padding: var(--my-padding);
  background-color: var(--btn-color);
  border-radius: 2px;
  margin: 10px;
}
#root {
  padding: 15px;
  /* background-color: rgb(30, 72, 134); */
}

#txt {
  color: var(--txt-main-color);
  padding: var(--my-padding);
}
